:root {
  /*  colors  */
  --orange: #bf6e16;
  --light-orange: #e38f34;
  --grayish-white: rgba(255, 255, 255, 0.35);
  --gray: #808080;
  /*  sizes  */
  --button-size: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

/* //// NAVBAR //// */
nav {
  position: absolute;
  width: 90%;
  margin: 2rem 4rem;
}

/* //// MOBILE MENU //// */

.mobile-menu-container {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  position: absolute;
}

label {
  position: absolute;
  /*   top: 3%;
      right: 2%; */
  top: 0.5rem;
  right: 0.25rem;
  z-index: 22;
}

label svg {
  width: 40px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

label:hover img {
  transform: scale(0.9);
}

#checkbox {
  display: none;
}

.mobile-menu {
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: var(--orange);
  transition: all 0.3s ease-in-out;
  /*   clip-path: circle(8% at 96% 5%); */
  /*   clip-path: circle(4rem at 48.5rem 1rem); */
}

.mobile-menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 4rem;
  visibility: hidden;
  padding: 0 20px;
}

.mobile-menu li a:hover {
  color: var(--light-orange);
}

#checkbox:checked + .mobile-menu {
  /*   clip-path: circle(100%); */
  width: 100%;
  height: 100%;
  border-radius: 0;
  right: 0;
  top: 0;
}

#checkbox:checked + .mobile-menu li a {
  visibility: visible;
}

.active {
  overflow: hidden;
}

.mobile-menu-container {
  display: none;
}

/* //// MAIN MENU //// */

.main-menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.main-menu > li:first-child {
  font-weight: bold;
  font-size: 1.25rem;
}

.main-menu > li:first-child a::after {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
}

.main-links {
  display: flex;
}

.main-links a {
  padding: 0 1.5em;
  border-left: 2px solid var(--grayish-white);
  color: rgba(255, 255, 255, 0.65);
}

.main-links li:first-child a {
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

/* //// HEADER //// */

header {
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header .col:first-child {
  background: linear-gradient(
    to bottom right,
    rgba(62, 66, 69, 0.85),
    rgba(43, 47, 50, 255),
    rgba(16, 19, 20, 0.95),
    #1a2121
  );
  padding: 8rem 4rem;
}

.header-img {
  height: 100%;
  width: 100%;
}

header h1 {
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
  min-width: 20rem;
  max-width: 20rem;
}

header h1::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--orange);
  border-radius: 50%;
  position: absolute;
  top: 18rem;
}

header h1 + p {
  color: var(--grayish-white);
  padding-top: 1rem;
}

header hr {
  width: 90%;
  margin: 2rem 0;
  opacity: 0.35;
}

.columns {
  display: flex;
}

header .columns {
  gap: 2rem;
}

.big-number {
  color: var(--orange);
  font-weight: bold;
  font-size: 2.5rem;
}

.big-number + p {
  color: white;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.header-mini-col p:last-child {
  color: var(--grayish-white);
}

/* //// 1ST SECTION //// */
section {
  margin: 4rem;
}

.section-top {
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
  justify-content: space-between;
  gap: 1rem;
}

.black-btn {
  background: black;
  padding: 1rem 2.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

main {
  position: relative;
}

main > hr {
  width: 90%;
  margin: auto;
}

.scroll-container {
  position: relative;
  z-index: 1;
  background: #f8f8f8;
}

.main-shape {
  width: 9rem;
  height: 9rem;
  border-radius: 50% 50% 0rem 0rem;
  background: #f8f8f8;
  position: absolute;
  top: -9rem;
  right: 0;
  left: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-shape::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: -1rem;
  right: 8.55rem;
  background-color: transparent;
  height: 6rem;
  transform: translateZ(-1px);
  width: 3rem;
  border-top-left-radius: 3rem;
  box-shadow: 0 -2rem 0 0 #f8f8f8;
  transform: rotate(180deg);
  border-color: transparent;
}

.main-shape::after {
  content: "";
  position: absolute;
  z-index: -2;
  top: -1rem;
  left: 8.55rem;
  background-color: transparent;
  height: 6rem;
  transform: translateZ(-1px);
  width: 3rem;
  border-top-left-radius: 3rem;
  box-shadow: 0 -2rem 0 0 #f8f8f8;
  transform: rotate(180deg) rotateY(180deg);
  border-color: transparent;
}

.scroll-container::after {
  position: absolute;
  content: "";
  background: #1a1f20;
  width: 1rem;
  height: 1rem;
  top: -7rem;
  right: 8rem;
  z-index: -1;
  left: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.words-and-circle::after {
  position: absolute;
  content: "";
  background: #151515;
  width: 1rem;
  height: 1rem;
  top: -7rem;
  right: 0;
  z-index: -1;
  left: 8rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.arrow-background {
  width: 3.5rem;
  height: 3.5rem;
  background: #202529;
  position: absolute;
  border-radius: 50%;
  bottom: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}

.arrow-container {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}

/* // Arrow // */
button {
  width: var(--button-size);
  height: var(--button-size);
  background: transparent;
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 0;
}

svg {
  stroke: #fff;
}

.arrow {
  height: 24px;
}

/* // Words in circle // */
#words-in-circle {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  bottom: 2.8em;
  right: 3em;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 1rem;
  transform: rotate(-72deg);
}

.ind-letter {
  font-size: 0.7rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  transform-origin: bottom center;
}

#words-in-circle::after,
#words-in-circle::before {
  content: ".";
  position: absolute;
}

#words-in-circle::after {
  left: 1.3rem;
  top: 5.2rem;
}

#words-in-circle::before {
  right: 1.3rem;
  bottom: 2.6rem;
}

.rotation-container {
  animation: rotating 10s linear infinite;
  height: 7rem;
}

.semi-circle {
  position: absolute;
  width: 6rem;
  height: 3rem;
  border-bottom-left-radius: calc(3rem + 10px);
  border-bottom-right-radius: calc(3rem + 10px);
  border: 1px solid black;
  border-top: 0;
  background-color: transparent;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 0.5rem;
}

.scrolling-words {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 0.25rem;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

section:nth-child(2) {
  padding-top: 4rem;
}

section h2 {
  font-size: 2.25rem;
  position: relative;
  line-height: 3.5rem;
}

section h2::before {
  content: "";
  width: 0.35rem;
  height: 2rem;
  top: 0.5rem;
  left: -1.75rem;
  position: absolute;
  background: var(--orange);
}

/* // Icons // */
.circles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 2rem;
}

.circle {
  width: 2.25rem;
  height: 2.25rem;
  border: 2px solid black;
  background: #f8f8f8;
  border-radius: 50%;
  z-index: 1;
}

.square-in-circle {
  display: grid;
}

#square {
  width: 2rem;
  height: 2rem;
  background-color: #f8f8f8;
  border: 2px solid black;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  top: 2rem;
  left: 2rem;
  z-index: 2;
}

#circle {
  width: 4rem;
  height: 4rem;
  border: 2px solid black;
  background: #f8f8f8;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.square-stack {
  display: flex;
  flex-direction: column-reverse;
  transform: rotateX(-45deg) rotateZ(-3deg);
  width: 5rem;
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}

.square {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  transform: rotate(50deg);
  background: #f8f8f8;
  margin-top: -1.85rem;
  z-index: 1;
}

.icon-cols {
  align-items: center;
  gap: 1rem;
  position: relative;
}

.icon-col:not(:last-child) {
  padding-right: 2rem;
  border-right: 1px solid #dbdbdb;
}

.icon-col:not(:first-child) {
  padding-left: 1rem;
}

.brown-square {
  width: 2.75rem;
  height: 2.75rem;
  background: #c09d77;
  position: relative;
  border-radius: 12%;
  top: 0;
}

.circles + .brown-square {
  top: -5rem;
  left: 2.25rem;
}

.square-in-circle + .brown-square {
  top: -3.5rem;
  left: 2rem;
}

.square-stack + .brown-square {
  top: -3.75rem;
  left: 2.5rem;
}

.shape-icon-container {
  position: relative;
  height: 6rem;
}

.icon-col:last-child > .feature-information {
  position: relative;
  top: -0.5rem;
}

.square-stack {
  padding-left: 1rem;
  top: 0.5rem;
}

/* //// 2ND SECTION //// */
.product-cols {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.category {
  font-size: 1.5rem;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.category-clicked {
  color: rgb(0, 0, 0);
}

.category:hover {
  color: rgba(0, 0, 0);
}

.product-types {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin: auto;
}

.product-type:not(:first-child) {
  border-left: 1px solid gray;
  padding: 0 3rem;
}

.product-type:first-child {
  padding-right: 4rem;
}

.products {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.products {
  margin-top: 2rem;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product::after {
  content: "";
  position: absolute;
  width: 14rem;
  height: 14rem;
  background-color: #e5e5e5;
  border-radius: 1rem 1rem 0 0;
  top: 0;
  z-index: 0;
}

.product-img {
  width: 10rem;
  height: 12rem;
  position: relative;
  top: 1rem;
  left: 2rem;
  z-index: 2;
}

.add-btn {
  background: black;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: relative;
  left: 10rem;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.plus-sign,
.plus-sign::after {
  width: 2px;
  height: 1rem;
  background: white;
  border-radius: 3rem;
  z-index: 1;
}

.plus-sign::after {
  content: "";
  height: 1rem;
  transform: rotate(90deg);
  position: absolute;
  top: 1rem;
}

.product-info {
  position: relative;
  bottom: 4rem;
  background-color: #fff;
  width: 14rem;
  padding: 1.5rem 1rem;
  border-radius: 0 0 1rem 1rem;
  z-index: 0;
}

.price {
  font-weight: 700;
  font-size: 1.35rem;
  padding-bottom: 0.75rem;
}

.product-name {
  font-weight: 600;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-feature {
  color: var(--gray);
  font-size: 0.85rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* //// THIRD SECTION //// */

.two-cols {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1.5rem 0;
}

section:nth-child(4) > .two-cols {
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.teapot-coffee-img {
  width: 23rem;
  height: 20rem;
  object-fit: cover;
  object-position: 80% 50%;
  border-radius: 0.5rem;
}

section:nth-child(4) h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

section:nth-child(4) h3 + p,
.two-cols p {
  color: var(--gray);
  font-size: 0.95rem;
}

.text-of-col {
  text-align: left;
}

.text-of-col > p:last-child {
  max-width: 18rem;
}

.two-cols h4 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

.btn-links {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  position: relative;
}

.last-link-container {
  display: flex;
  align-items: center;
}

.last-link-container span {
  color: #000;
  text-transform: uppercase;
}

.last-link-container > .arrow-container svg {
  stroke: #000;
}

.last-link-container .arrow-container {
  position: relative;
  bottom: 0;
  left: 1rem;
  transform: rotate(-90deg);
}

.last-link-container .oh {
  width: 1rem;
  height: 1rem;
}

section:nth-child(4) hr {
  width: 50%;
}

/* //// FOURTH SECTION //// */
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.logo-img {
  max-width: 10rem;
  width: 100%;
  opacity: 0.3;
}

/* //// FIFTH SECTION //// */
.blog-section > .columns {
  gap: 2rem;
  justify-content: flex-start;
}

.blog-section article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.blog-img-container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.blog-info p {
  max-width: 18rem;
}

.blog-img {
  width: 20rem;
  border-radius: 0.25rem;
}

.blog-img + a {
  position: relative;
  bottom: 4rem;
  left: 16rem;
  display: inline-block;
}

.link-box {
  position: absolute;
  background: #fff;
  width: 4rem;
  height: 4rem;
  border-top-left-radius: 0.25rem;
}

.blog-img-container .arrow-container svg {
  stroke: #000;
}

.blog-img-container .arrow-container {
  position: absolute;
  left: 0.2rem;
  transform: rotate(-140deg);
}

.blog-img-container .oh {
  width: 1rem;
  height: 1rem;
}

.blog-title {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.blog-title + p {
  padding-bottom: 1rem;
  color: var(--gray);
}

.numbers-and-icons {
  gap: 2rem;
}

.numbers-and-icons .col {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.tiny-number {
  font-size: 0.75rem;
  color: var(--gray);
}

.tiny-icon {
  opacity: 0.3;
  width: 1.25rem;
}

/* //// FOOTER //// */
footer {
  background: #1a1e21;
  padding: 3rem;
  padding-bottom: 1rem;
  color: var(--grayish-white);
}

footer h2,
footer h3 {
  color: #fff;
  font-weight: 600;
}

footer .columns {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

footer .columns .col {
  padding: 2rem 0;
}

footer .columns .col:last-child {
  padding-right: 3rem;
}

.input-and-btnlink {
  padding-top: 0.75rem;
  display: flex;
  gap: 0.25rem;
}

.input-and-btnlink input {
  height: 2.5rem;
  outline: none;
  padding: 0 1rem;
  border: none;
  position: relative;
}

.input-and-btnlink input::placeholder {
  font-family: "Inter", sans-serif;
}

.orange-btn {
  background: var(--orange);
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}

footer h3 {
  padding-bottom: 0.75rem;
}

footer .columns p {
  font-size: 0.9rem;
}

.other-footer-cols {
  border: 3px solid purple;
  display: flex;
  align-self: flex-end;
}

.input-and-btnlink .arrow-container svg {
  stroke: #000;
}

.input-and-btnlink .arrow-container {
  position: relative;
  top: 0.3rem;
  left: 0.1rem;
  z-index: 2;
  transform: rotate(-140deg);
}

.input-and-btnlink .oh {
  width: 1rem;
  height: 1rem;
}

footer hr {
  margin-bottom: 1rem;
  opacity: 0.3;
}

#footer-bottom {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#footer-bottom p {
  color: white;
}

#footer-bottom span {
  font-weight: 600;
  font-size: 0.95rem;
}

footer .social-icons {
  gap: 1rem;
  align-items: center;
}

footer .social-icons img {
  width: 1.5rem;
}

@media (max-width: 63.75rem) {
  .product-cols {
    display: flex;
    justify-content: space-evenly;
  }

  .products {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 0.5rem;
  }

  .product-types {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-type:first-child {
    padding-right: 0;
  }

  .product-type:not(:first-child) {
    border-left: none;
    padding: 0;
    margin: 1rem 0;
  }

  .product-type {
    margin-bottom: 1rem;
  }

  .section-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

@media (max-width: 56.25rem) {
  .mobile-menu-container {
    display: flex;
  }

  nav {
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
  }

  .main-links {
    display: none;
  }

  .main-menu li:first-child {
    position: absolute;
    z-index: -1;
    top: 1.6rem;
    left: 3.5rem;
    cursor: pointer;
  }
}

@media (max-width: 50rem) {
  .blog-section > .columns {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .blog-section .columns > article.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .blog-img + a {
    position: relative;
    bottom: 4.25rem;
    left: 14rem;
  }

  .blog-img {
    width: 18rem;
  }

  .link-box {
    top: 0.5rem;
  }

  .blog-title + p {
    max-width: 24rem;
  }

  .numbers-and-icons {
    align-items: center;
    justify-content: center;
  }

  .numbers-and-icons .col {
    flex-direction: row;
  }
}

@media (max-width: 45.625rem) {
  header {
    display: block;
  }

  header .col:last-child {
    display: none;
  }

  .icon-cols {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .icon-col {
    max-width: 18rem;
  }

  .icon-col:not(:last-child) {
    border-right: none;
    padding: 0;
  }

  .icon-col:not(:first-child) {
    padding: 0;
  }

  .logos {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 32.5rem) {
  header .two-cols {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  header .header-text {
    display: flex;
    flex-direction: column;
  }

  header h1 {
    min-width: 0rem;
    max-width: 100%;
  }

  header h1::after {
    display: none;
  }

  .text-of-col .two-cols {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 21.25rem) {
  .logos {
    display: flex;
    flex-direction: column;
  }
}

/* 1244 lines of code */
